.specialtyContainer {
    // border: 2px solid black;

    width: 170px;
    height: 200px;

    margin: 0;
}

p {
    margin-top: 5px;
}

.title {
    font-weight: 500;
    font-size: 14px;
}

.sub {
    font-weight: lighter;
    font-size: 14px;
}

//mobile: iPhone SE and iPhone 5, Galaxy S5
@media screen and (max-width: 360px) {

    .title {
        font-size: 12px;
    }
    
    .sub {
        font-size: 10px;
    }
}