.specialtyContainer {
    // border: 2px solid black;

    width: 170px;
    height: 180px;

    margin: 0;
}

p.title, p.sub {
    line-height: 1;
    text-align: center;
}

.title {
    margin: 0 auto;
    margin-top: 10px;
    // margin-bottom: 10px;
}

.sub {
    // font-weight: lighter;
    font-size: 14px;
}

//mobile: iPhone SE and iPhone X
@media screen and (max-width: 420px) {

    .title {
        font-size: 13px;
    }
    
    .sub {
        font-size: 13px;
    }
}

//mobile: iPhone SE and iPhone 5, Galaxy S5
@media screen and (max-width: 360px) {

    .title {
        font-size: 12px;
    }
    
    .sub {
        font-size: 10px;
    }
}