//Montserrat

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-MediumItalic.ttf');
    font-weight: normal ;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}


// Dancing Script
@font-face {
    font-family: 'DancingScript';
    src: url('/static/fonts/DancingScript-Regular.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('/static/fonts/DancingScript-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('/static/fonts/DancingScript-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}