.aboutHero {
    //background-color: #80a3db;
    background-image: url('/static/images/hero/about_top.png');
    height: 600px;
}

.skillHero, .workHero, .educationHero  {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // margin-top: 90px;
    height: 250px;
}

.skillHero {
    //background-color: #80a3db;
    background-image: url('/static/images/hero/about_skill.png');
    
}

.workHero {
    //background-color: #80a3db;
    background-image: url('/static/images/hero/about_work.png');
}

.educationHero {
    //background-color: #80a3db;
    background-image: url('/static/images/hero/about_education.png');
}

.yasminBox{
    border: black 2px solid;
    height: 200px;
    width: 100%;
}