.projectsHero {
    background-image: url('/static/images/hero/projects.webp');
}

.projectsfallback {
    background-image: url('/static/images/hero/projects.jp2');
}

@media screen and (max-width: 850px) {
    .projectsHero{
        background-position: center;
    }
}

@media screen and (max-width: 420px) {
    .projectsHero {
        background-image: url('/static/images/hero/projects_mobile.png');
        height: 400px;
    }
}