@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Italic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Regular.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat";
  position: relative;
}

a {
  color: #2E7BC1;
}

.hero {
  height: 600px;
  width: 100%;
  padding: 100px 0;
  background-size: cover;
  z-index: -1;
}
.fallback {
  padding: 0;
  background-size: cover;
}
section {
  width: 100%;
  margin-bottom: 90px;
}
.contentContainer {
  max-width: 800px;
  margin: 90px auto;
  height: auto;
}
.row {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.rowPhotoPortrait, .rowPhotoLandscape {
  margin: 0;
  background-size: cover;
  background-position: center;
}
.rowPhotoPortrait {
  width: 190px;
  height: 240px;
}
.rowPhotoLandscape {
  width: 395px;
  height: 240px;
}
@media screen and (max-width: 825px) {
  .contentContainer {
    max-width: 680px;
    margin: 70px auto;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 160px;
    height: 200px;
    background-repeat: no-repeat;
  }
  .rowPhotoLandscape {
    width: 335px;
    height: 200px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 770px) {
  .contentContainer {
    max-width: 700px;
    margin: 70px auto;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 170px;
    height: 220px;
    background-repeat: no-repeat;
  }
  .rowPhotoLandscape {
    width: 345px;
    height: 220px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 420px) {
  .contentContainer {
    width: 355px;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;
  }
  section {
    width: 100%;
    margin: 0px;
  }
  .row {
    flex-wrap: wrap;
  }
  .rowPhotoPortrait {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
  }
  .rowPhotoLandscape {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 360px) {
  .contentContainer {
    width: 310px;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 100%;
    height: 400px;
  }
  .rowPhotoLandscape {
    width: 100%;
    height: 200px;
  }
}
._3Ynq13K6dJwDv9xNY-P6Vq {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: white;
}

._16xJ6Gr4E3Ez3WL9Q23t7O, ._2TOHO7TymYTw4z6DDLMHhn {
  margin: 0;
}

._16xJ6Gr4E3Ez3WL9Q23t7O {
  height: 66px;
  width: 66px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("/static/images/icons/Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
._16xJ6Gr4E3Ez3WL9Q23t7O a {
  width: 100%;
  height: 100%;
}

.YLc3V1jOJQDlT1pigyU-m {
  background: rgba(107, 92, 92, 0.54);
  border: 2px solid white;
  height: 80%;
  width: 160px;
}

.kPFk5WKPQbwwEkuo5RDYZ {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  flex-basis: 80%;
  align-items: center;
}

._2TOHO7TymYTw4z6DDLMHhn {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._2TOHO7TymYTw4z6DDLMHhn a {
  margin: 0;
}

.kPFk5WKPQbwwEkuo5RDYZ a, ._3MvDr5m91Pmmjf-i_ytVaJ a {
  color: inherit;
  text-decoration: inherit;
  font-size: 14px;
  font-weight: 500;
}

a, div._16xJ6Gr4E3Ez3WL9Q23t7O {
  opacity: 0;
}

._3Z7Nj8sD8W-qNi1c5vPZY4 a, ._3Z7Nj8sD8W-qNi1c5vPZY4 div {
  animation: HIFhD7XAyO9o5tAYfgII5 0.5s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes HIFhD7XAyO9o5tAYfgII5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1G6KdEe68Bq9lOdDzSEFsk {
  height: 300px;
  width: 100%;
  background: #292929;
  z-index: -1;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

._11GuFnaAEG0J71ENb2G7wH {
  width: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._2FSPpFMz8bRszgpn68DS47 {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  display: flex;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.5);
  opacity: 0.85;
}

._2n1M71IXMwwvkB3yIOd675 {
  width: 100%;
  height: 100%;
  opacity: 1;
}

._2FSPpFMz8bRszgpn68DS47:hover {
  opacity: 1;
}

._2oCrJqiDVaRAIeO_g0MU-Q, .KXfwJkzv1v7EwxOqJMxBa, ._3C0rl4yCn4h8fZmQIsX9AB,
._2iJvO9iYwvox-X0up_naok, .kksmClWKdbMAbJ65N3_QK {
  width: 90%;
  height: 90%;
  z-index: 1;
  opacity: inherit;
}

._2oCrJqiDVaRAIeO_g0MU-Q {
  content: url("/static/images/icons/instagram.png");
}

.KXfwJkzv1v7EwxOqJMxBa {
  content: url("/static/images/icons/facebook.png");
}

._3C0rl4yCn4h8fZmQIsX9AB {
  content: url("/static/images/icons/email.png");
}

._2iJvO9iYwvox-X0up_naok {
  content: url("/static/images/icons/linkedin.png");
}

.kksmClWKdbMAbJ65N3_QK {
  content: url("/static/images/icons/youtube.png");
}

.OKPUsf8eZqRy36GpjpEzJ {
  font-size: 18px;
  color: #FFFFFF;
}

._4S1LAbqgOvMfN4-fBDsDE {
  color: #FF0000;
}

@media screen and (max-width: 770px) {
  ._1G6KdEe68Bq9lOdDzSEFsk {
    margin-top: 200px;
  }
}
@media screen and (max-width: 420px) {
  ._1G6KdEe68Bq9lOdDzSEFsk {
    margin-top: 200px;
    padding: 90px 0;
  }

  ._11GuFnaAEG0J71ENb2G7wH {
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  ._11GuFnaAEG0J71ENb2G7wH {
    width: 280px;
  }
}
.UBYuk19RdAhA85Y-xYE-v {
  width: 100%;
  height: 100vh;
  margin-bottom: -200px;
  position: relative;
}

._12k3-9S_mxg6o6LInmX_JE {
  background-image: url("/static/images/hero/landing.jp2");
  height: 100vh;
}

._3olEcnNI1gv9LjKOf4hX32 {
  background-image: url("/static/images/hero/landing.webp");
  height: 100vh;
}

._3JPe-yxVweEx3SNyqLwX0O {
  background: rgba(0, 0, 0, 0.42);
  margin: auto auto;
  padding: 15px;
  width: 830px;
  height: 280px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

._2x4SE4dlJM8Nds1ITWEp4I {
  animation: _1lOXMWzUO7b-20ejqb4h4E 0.65s ease-in forwards;
}

@keyframes _1lOXMWzUO7b-20ejqb4h4E {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._38tICKC0ZmNbmjCMv1Gfn {
  font-family: "DancingScript";
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  margin-bottom: 30px;
}

._2vXhFBf99N4pJzWCrAksTC {
  font-weight: 300;
  font-size: 36px;
}

.WvWeWYLcXkomb9oOI_Dld {
  width: 100%;
  border: solid green 2px;
}

._2FRtfTtreCX7tlUSJfOsW0 {
  font-weight: 300;
  font-size: 48px;
}

@media screen and (max-width: 1024px) {
  ._3olEcnNI1gv9LjKOf4hX32 {
    background-position: center;
  }
}
@media screen and (max-width: 825px) {
  ._3olEcnNI1gv9LjKOf4hX32 {
    background-position: center;
  }

  ._3JPe-yxVweEx3SNyqLwX0O {
    padding: 20px;
    width: 620px;
    height: 200px;
    top: 50px;
  }

  ._38tICKC0ZmNbmjCMv1Gfn {
    font-size: 64px;
    margin-bottom: 10px;
  }

  ._2vXhFBf99N4pJzWCrAksTC {
    font-size: 20px;
  }

  ._2FRtfTtreCX7tlUSJfOsW0 {
    font-size: 24px;
  }
}
@media screen and (max-width: 770px) {
  ._3olEcnNI1gv9LjKOf4hX32 {
    background-position: center;
  }

  ._3JPe-yxVweEx3SNyqLwX0O {
    padding: 20px;
    width: 580px;
    height: 180px;
    top: 0;
  }

  ._38tICKC0ZmNbmjCMv1Gfn {
    font-size: 64px;
    margin-bottom: 10px;
  }

  ._2vXhFBf99N4pJzWCrAksTC {
    font-size: 20px;
  }

  ._2FRtfTtreCX7tlUSJfOsW0 {
    font-size: 24px;
  }
}
@media screen and (max-width: 420px) {
  ._3olEcnNI1gv9LjKOf4hX32 {
    background-image: url("/static/images/hero/landing_mobile.png");
    background-position: center;
  }

  ._3JPe-yxVweEx3SNyqLwX0O {
    padding: 10px;
    width: 350px;
    height: 220px;
  }

  ._38tICKC0ZmNbmjCMv1Gfn {
    font-size: 52px;
    margin-bottom: 10px;
  }

  ._2vXhFBf99N4pJzWCrAksTC {
    font-size: 18px;
  }

  ._2FRtfTtreCX7tlUSJfOsW0 {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  ._3JPe-yxVweEx3SNyqLwX0O {
    padding: 10px;
    width: 300px;
    height: 200px;
  }

  ._38tICKC0ZmNbmjCMv1Gfn {
    font-size: 42px;
    margin-bottom: 20px;
  }

  ._2vXhFBf99N4pJzWCrAksTC {
    font-size: 16px;
  }

  ._2FRtfTtreCX7tlUSJfOsW0 {
    font-size: 18px;
  }
}
._1qJqvjFdArUczCb9Hw-xG1 {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

._3cUM3i_ShnS59iohtQew57 {
  width: 100%;
  font-family: "DancingScript";
  font-weight: "normal";
  font-size: 18px;
}

.lV8OG2KRXm5Csh6a3S3pS {
  width: 100%;
  font-family: "DancingScript";
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.nTfcgQMaTNiKLER9c4L0z {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
._2Us9WewTmbvlOKZCqMMP4e {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  width: 100%;
  height: 50px;
  margin-top: 90px;
  display: flex;
  align-items: center;
}
._2Us9WewTmbvlOKZCqMMP4e a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
}
._2Us9WewTmbvlOKZCqMMP4e a:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
}
._2Us9WewTmbvlOKZCqMMP4e ._3he9mWRDgEgjRmSH-yuGUA {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  ._2Us9WewTmbvlOKZCqMMP4e {
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  ._2Us9WewTmbvlOKZCqMMP4e {
    margin-top: 50px;
  }
}
._50IlI1eFp3e4llkoaohfz {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
._50IlI1eFp3e4llkoaohfz span {
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
}

._3VDDR-h_YBxxpLez2HW4XT {
  border: white 1px solid;
  margin: 0;
  margin-right: 10px;
  width: auto;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.Impeb-zv_aTrO4JRMYwAN {
  border: black 1px solid;
}

._30uZ8RAlNK3FnOa1AUsjop {
  height: 45px;
  background: #464646;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.95;
}

._30uZ8RAlNK3FnOa1AUsjop:hover {
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}
._3NKMuSnY7IOOBfzAuhfId1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

._2dQqX1_xTLHJrXkb5cCmbO {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 30px;
}

._3D_1f4bBmrJg6lw1qMIqup {
  margin-bottom: 20px;
}
._3D_1f4bBmrJg6lw1qMIqup span {
  font-weight: bold;
  font-size: 14px;
}

._2f1K1_cSqQxL8IrG6yurBl {
  width: 100%;
  min-height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

p, ._16fTmpqwuEgikDz6hiiY0d {
  font-weight: 500;
  font-size: 14px;
}

._16fTmpqwuEgikDz6hiiY0d {
  margin-bottom: 20px;
}

._1pVWZb2uuOJBcOGWhXENY5 {
  margin: 0;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

._4giDwbc2xRCt48gKKGz_O {
  display: flex;
  flex-wrap: wrap;
}
._4giDwbc2xRCt48gKKGz_O p {
  margin: 0;
  margin-right: 30px;
  margin-top: 5px;
}

@media screen and (max-width: 420px) {
  ._2f1K1_cSqQxL8IrG6yurBl {
    flex-wrap: wrap;
  }

  ._1pVWZb2uuOJBcOGWhXENY5 {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    margin-right: 30px;
  }
}
._1pX9g6j7erNsOO-h032l1- {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.JzDjN33rVGYQJlPG98FnB {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

._2vNElQm3ixg4JSKkkkrIjv {
  font-weight: 500;
  font-size: 14px;
}

.Aik-M3HCLVIrlmuQRLz2N {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 25px;
}

._3HYonkoVEQK7gCofoOIwN5 {
  margin-bottom: 40px;
}

._1eaZthu8GWKClh8XC0O1zR {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.QhwHN4AQ2F_1130v8HC6l {
  opacity: 0.8;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.QhwHN4AQ2F_1130v8HC6l:hover {
  opacity: 1;
}
._19tIedMwwCZB8ahw0GdW9E {
  background-image: url("/static/images/hero/projects.webp");
}

._1Vg_RBDjDwpD88w22xdRYJ {
  background-image: url("/static/images/hero/projects.jp2");
}

@media screen and (max-width: 850px) {
  ._19tIedMwwCZB8ahw0GdW9E {
    background-position: center;
  }
}
@media screen and (max-width: 420px) {
  ._19tIedMwwCZB8ahw0GdW9E {
    background-image: url("/static/images/hero/projects_mobile.png");
    height: 400px;
  }
}

/*# sourceMappingURL=styles.chunk.css.map*/