@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Italic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Regular.ttf");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript";
  src: url("/static/fonts/DancingScript-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat";
  position: relative;
}

a {
  color: #2E7BC1;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero {
  height: 600px;
  width: 100%;
  padding: 100px 0;
  background-size: cover;
  z-index: -1;
}
.fallback {
  padding: 0;
  background-size: cover;
}
.contentContainer {
  max-width: 800px;
  margin: 90px auto;
  height: auto;
}
.row {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.rowPhotoPortrait, .rowPhotoLandscape {
  margin: 0;
  background-size: cover;
  background-position: center;
}
.rowPhotoPortrait {
  width: 190px;
  height: 260px;
}
.rowPhotoLandscape {
  width: 395px;
  height: 260px;
}
@media screen and (max-width: 825px) {
  .contentContainer {
    max-width: 680px;
    margin: 70px auto;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 160px;
    height: 200px;
    background-repeat: no-repeat;
  }
  .rowPhotoLandscape {
    width: 335px;
    height: 200px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 770px) {
  .contentContainer {
    max-width: 700px;
    margin: 70px auto;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 170px;
    height: 220px;
    background-repeat: no-repeat;
  }
  .rowPhotoLandscape {
    width: 345px;
    height: 220px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 420px) {
  .contentContainer {
    width: 355px;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;
  }
  section {
    width: 100%;
    margin: 0px;
  }
  .row {
    flex-wrap: wrap;
  }
  .rowPhotoPortrait {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
  }
  .rowPhotoLandscape {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 360px) {
  .contentContainer {
    width: 310px;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;
  }
  .rowPhotoPortrait {
    width: 100%;
    height: 400px;
  }
  .rowPhotoLandscape {
    width: 100%;
    height: 200px;
  }
}
._3Ynq13K6dJwDv9xNY-P6Vq {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: white;
}

._16xJ6Gr4E3Ez3WL9Q23t7O, ._2TOHO7TymYTw4z6DDLMHhn {
  margin: 0;
}

._16xJ6Gr4E3Ez3WL9Q23t7O {
  height: 66px;
  width: 66px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("/static/images/icons/Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  opacity: 0;
}
._16xJ6Gr4E3Ez3WL9Q23t7O a {
  width: 100%;
  height: 100%;
}

.kPFk5WKPQbwwEkuo5RDYZ {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  flex-basis: 80%;
  align-items: center;
}

._2TOHO7TymYTw4z6DDLMHhn {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._2TOHO7TymYTw4z6DDLMHhn a {
  margin: 0;
  opacity: 0;
}

.kPFk5WKPQbwwEkuo5RDYZ a, div._1TOIAYYaQvs6qoDRvDiKyH {
  color: inherit;
  text-decoration: inherit;
  font-size: 14px;
  font-weight: 500;
}

._3Z7Nj8sD8W-qNi1c5vPZY4 a, ._3Z7Nj8sD8W-qNi1c5vPZY4 div {
  animation: HIFhD7XAyO9o5tAYfgII5 0.5s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes HIFhD7XAyO9o5tAYfgII5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1G6KdEe68Bq9lOdDzSEFsk {
  height: 300px;
  width: 100%;
  background: #292929;
  z-index: -1;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

._11GuFnaAEG0J71ENb2G7wH {
  width: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._2FSPpFMz8bRszgpn68DS47 {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  display: flex;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.5);
  opacity: 0.85;
}

._2n1M71IXMwwvkB3yIOd675 {
  width: 100%;
  height: 100%;
  opacity: 1;
}

._2FSPpFMz8bRszgpn68DS47:hover {
  opacity: 1;
}

._2oCrJqiDVaRAIeO_g0MU-Q, .KXfwJkzv1v7EwxOqJMxBa, ._3C0rl4yCn4h8fZmQIsX9AB,
._2iJvO9iYwvox-X0up_naok, .kksmClWKdbMAbJ65N3_QK {
  width: 90%;
  height: 90%;
  z-index: 1;
  opacity: inherit;
}

._2oCrJqiDVaRAIeO_g0MU-Q {
  content: url("/static/images/icons/instagram.png");
}

.KXfwJkzv1v7EwxOqJMxBa {
  content: url("/static/images/icons/facebook.png");
}

._3C0rl4yCn4h8fZmQIsX9AB {
  content: url("/static/images/icons/email.png");
}

._2iJvO9iYwvox-X0up_naok {
  content: url("/static/images/icons/linkedin.png");
}

.kksmClWKdbMAbJ65N3_QK {
  content: url("/static/images/icons/youtube.png");
}

.OKPUsf8eZqRy36GpjpEzJ {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}

._4S1LAbqgOvMfN4-fBDsDE {
  color: #FF0000;
}

@media screen and (max-width: 770px) {
  ._1G6KdEe68Bq9lOdDzSEFsk {
    margin-top: 200px;
  }
}
@media screen and (max-width: 420px) {
  ._1G6KdEe68Bq9lOdDzSEFsk {
    margin-top: 200px;
    padding: 90px 0;
  }

  ._11GuFnaAEG0J71ENb2G7wH {
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  ._11GuFnaAEG0J71ENb2G7wH {
    width: 280px;
  }
}
._1HmujMjuvM0fRzWtqDgxSQ {
  width: 100%;
  height: 100px;
  margin-top: -70px;
}

._2GIIFTc5uD7y4pnnkRI2W5 {
  font-size: 14px;
}

._1pN9lnX0WepZ6he3_bpGeM {
  opacity: 0.9;
  color: #6F6F6F;
  text-decoration: none;
}

._1pN9lnX0WepZ6he3_bpGeM:hover {
  opacity: 1;
}
._3eiLIFchnUJFuZmFsJa2VD {
  margin-top: 45px;
}

._1q11HMkqLjYQGpwXZQc3lj {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: grey 1px solid;
  padding: 2px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: background ease 0.1s;
}

._1q11HMkqLjYQGpwXZQc3lj:hover {
  background: #b1b1b1;
}

._1GDe9pI81pHYTh79JVpV67 {
  margin: 0;
}

.IFaGb6WvLK_ICIKl0fAWA {
  cursor: pointer;
  margin: 0;
  margin-top: 45px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: black 2px solid;
  border-radius: 5px;
  text-align: center;
}

.IFaGb6WvLK_ICIKl0fAWA:hover {
  background: #78d4f0;
}
._2IPjBvKLklHNGOw9B57hZi {
  background-image: url("/static/images/hero/about_top.webp");
}

._3yCkfVx8i1na_JF7SaumYS {
  background-image: url("/static/images/hero/about_top.jp2");
}

._6CFWrb-v32RKCgSbNHdM4, ._2GuNJNL8TzVgIx1GcdjjPG, ._1vtSvnJFaK8-Hwf7E6SbWv, ._2FrCfZbFpxLmPUD17Db2Az,
._2guBLTSEwhldHqNw03PBfz, ._3HIfzFE50m4V4Zr2JTfBWs {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

._6CFWrb-v32RKCgSbNHdM4 {
  background-image: url("/static/images/hero/about_skill.webp");
}

._2GuNJNL8TzVgIx1GcdjjPG {
  background-image: url("/static/images/hero/about_skill.jp2");
}

._1vtSvnJFaK8-Hwf7E6SbWv {
  background-image: url("/static/images/hero/about_work.webp");
}

._2FrCfZbFpxLmPUD17Db2Az {
  background-image: url("/static/images/hero/about_work.jp2");
}

._2guBLTSEwhldHqNw03PBfz {
  background-image: url("/static/images/hero/about_education.webp");
}

._3HIfzFE50m4V4Zr2JTfBWs {
  background-image: url("/static/images/hero/about_education.jp2");
}

._122z1L_Fn86hjjGH3l0tNq {
  border: red 2px dotted;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

._3PM6D4V7MHYF0o8o1cb6DF {
  height: 50px;
  width: 50px;
  background-color: brown;
}

@media screen and (max-width: 770px) {
  ._2IPjBvKLklHNGOw9B57hZi {
    background-position: center;
  }

  ._6CFWrb-v32RKCgSbNHdM4, ._1vtSvnJFaK8-Hwf7E6SbWv, ._2guBLTSEwhldHqNw03PBfz {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 420px) {
  ._2IPjBvKLklHNGOw9B57hZi {
    background-image: url("/static/images/hero/about_top_mobile.png");
    height: 400px;
  }

  ._6CFWrb-v32RKCgSbNHdM4 {
    background-image: url("/static/images/hero/about_skill_mobile.png");
  }

  ._1vtSvnJFaK8-Hwf7E6SbWv {
    background-image: url("/static/images/hero/about_work_mobile.png");
  }

  ._2guBLTSEwhldHqNw03PBfz {
    background-image: url("/static/images/hero/about_education_mobile.png");
  }
}
._2EIGV6AQJ17ayfUinaAB_B {
  margin-top: 35px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._ogJ1C0IcQdceun538v1s {
  font-family: "Montserrat";
  font-weight: 500;
  outline: none !important;
  width: 100%;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px 15px;
}

._ogJ1C0IcQdceun538v1s:focus {
  border: solid #339EDA 2px;
}

::placeholder {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
}

.rMKxOwET0WkngTMic4P0 {
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  opacity: 0.8;
  background-color: darkgrey;
}

.rMKxOwET0WkngTMic4P0:hover {
  opacity: 1;
}

._29R0EhCkXf3Ax98MjD_1ts {
  margin-top: 20px;
  margin-left: 20px;
}

._32zXTo8E4EQgQGev9mI5d4 {
  margin-top: 10px;
  color: red;
}

/*# sourceMappingURL=styles.chunk.css.map*/