.container {
    margin: 0;
    margin-bottom: 30px;
    // border: 2px blue solid;
    min-height: 200px;

    -webkit-box-shadow: -11px 10px 5px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 10px 5px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 10px 5px -6px rgba(0,0,0,0.5);
}

.twoItems {
    width: 380px;
    font-size: 14px;
}

.threeItems {
    width: 260px;
    font-size: 12.5px;
}

.title{
    width: 100%;
    height: 45px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 42px;
}

.items {
    background: #F3F3F3;
    min-height: 300px;
    margin-bottom: 10px;
    padding: 25px;
    font-weight: 500;

    font-weight: 500;
}

.notes {
    background: #F3F3F3;
    min-height: 120px;
    padding: 25px;

    font-weight: 500;
    font-size: 12.5px;
}


// for phones in landscape
@media screen and (max-width: 825px) {
    .twoItems {
        width: 345px;
        font-size: 14px;
    }
    
    .threeItems {
        width: 345px;
        font-size: 14px;
    }
}

//mobile: iPhone SE and iPhone 5, Galaxy S5
@media screen and (max-width: 360px) {
    .twoItems {
        width: 305px;
        font-size: 14px;
    }
    
    .threeItems {
        width: 305px;
        font-size: 14px;
    }
}