$divheight : 100px;

.headContainer {
    // border: green solid 2px;
    // margin-bottom: 30px;
}

.title {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    margin-bottom: 10px;

    // height: $divheight;

}

.quote {
    width: 100%;
    font-family: 'DancingScript';
    font-weight: 'normal';
    font-size: 18px;

    // height: $divheight;
}

.author {
    width: 100%;
    font-family: 'DancingScript';
    font-weight: bold;
    font-size: 18px;

    text-align: right;

    // height: $divheight ;
}

.text {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;

    // height: $divheight ;
}