.footer {
    height: 300px;
    width: 100%;
    background: #292929;
    z-index: -1;
    padding: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;
}

.socmedContainer {
    width: 300px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socmed {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0 auto;

    display: flex;
    align-items: center;

    background-color: rgba(196, 196, 196, 0.5);
    opacity: 0.85;
}

.link {
    width: 100%;
    height: 100%;
    opacity: 1;
    // z-index: 1;
}

.socmed:hover{
    opacity: 1;
}

.insta, .fb, .email,
.linkedin, .youtube {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    z-index: 1;
    opacity: inherit;
}

.insta {
    content: url('/static/images/icons/instagram.png');
}

.fb {
    content: url('/static/images/icons/facebook.png');
}
.email {
    content: url('/static/images/icons/email.png');
}
.linkedin {
    content: url('/static/images/icons/linkedin.png');
}
.youtube {
    content: url('/static/images/icons/youtube.png');
}

.text {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.year {
    color: #FF0000;
}


// tablet
@media screen and (max-width: 770px) {
    .footer{
        margin-top: 200px;
    }
}

  @media screen and (max-width: 420px) {
    .footer{
        // border: green solid 1px;
        margin-top: 200px;
        padding: 90px 0;
    }

    .socmedContainer {
        width: 300px;
        padding: 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }

  //mobile: iPhone SE and iPhone 5, Galaxy S5
  @media screen and (max-width: 360px) {
    .socmedContainer {
        width: 280px;
    }
}
