$marginBottom : 40px;

.fragmentHeader {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    margin-bottom: $marginBottom;
}

.subHeader {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;

    margin-bottom: 30px;
}

.time {
    font-weight: 500;
    font-size: 14px;

    // margin-bottom: 30px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 25px;
}
.linkContainer {
    margin-bottom: 40px;
}

.ItemsContainer {
    // border: 2px blue solid;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;

    //flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.link {
    // color: 'red';
    opacity: 0.8;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.link:hover {
    opacity: 1;
    // text-decoration: underline;
}