//All global styles go here

@import './shared/fonts';


// Global styles
* {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
}

p {
    color: Brown;
}


// page-specific styles
// @import './index';
// @import './fitness';